body {
    background-color: #eeeeee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

a {
    color: white;
}

.icon-sosmed {
    max-width: 100%;
    height: auto;
    width: 40px;
}

#container {
    background-color: white;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#header {
    max-width: 100%;
    height: auto;
    background: #2b303a;
    color: white;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

#content {
    padding: 10px;
    max-width: 100%;
    height: auto;
}

#content-left {
    width: 300px;
    max-width: 100%;
    height: auto;
    float: left;
}

#main {
    width: 1150px;
    max-width: 100%;
    height: auto;
    float: right;
}

#main-one, #main-two {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

#footer {
    padding: 10px;
    max-width: 100%;
    height: auto;
    clear: both;
    text-align: right;
    background-color: #2b303a;
    color: white;
}


